body
{
    background-color: lightgray;
}

canvas
{
    background-color: white;
}

.userinput-container
{
    background-color: gray;
    max-width:400px;
    flex: auto;
    margin-left: 10px;
}

.flex-container
{
    background-color: lightblue;
    overflow: hidden;
    display: flex;
    /*margin: auto 1em;*/
}

img
{
    width: 100%;
    /*max-width: 300px;*/
}

.canvas-container
{
    background-color: yellow;
}

.toolbar
{
    display: block;
    background-color: orange;
}

.nav-container
{
    background-color: #F4F7F8;
    /*overflow: hidden;*/
    display: flex;
    /*margin: 1em;*/
}

.item
{
    padding: 0.5em;
    border: 1px solid black;
    text-align: center;
    /*width: 110px;*/
    min-width: 0;
    background-color: #1B5385;
    color: white;
    font-family: monospace;
    font-size: 13px;
}

.auto
{
    flex: auto;
}

.userinput-block
{
    background-color: green;
}

.userinput-item:nth-child(odd)
{
    background-color: rgba(255, 0, 0, 255);
}
.userinput-item:nth-child(even)
{
    background-color: rgba(255, 100, 100, 255);
}

.codegenerator
{
    background-color: orange;
}

.codecontainer
{
    background-color: lightcoral;
    overflow-y: scroll;
    height: 200px;
}

#generatedcode
{
    white-space: pre-wrap;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 50px;
    padding: 0 5px;
}
